html {
  min-height: 100%;
}
body {
  margin:0 auto !important;
  width: 90%;
  min-height: 100%;
  background-color: #3f51b5 ;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#form_login{
  background-color: #c5cae9; 
  padding: 20px;
  margin-top: 60px;
}
img{
  width:auto !important;
  padding-top: 2.5px;
  border-radius: 0% !important;
  height: 55px !important;
}
.container{
  width:95%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h6 {
  font-size: 20px !important;
  padding:0px !important;
  height:100%;
}
